<html>
<body>
<div>
{{ reg_output.stdout_lines }}
</div>
<div>
inventory var= {{inventory_var}} ,  fact var = {{fact_var}} , prompt var = {{prompt_var}}  , role var = {{role_var}}
</div>
</body>
</html>
