<h1> Welcome to DevOpsSchool.com Ansible Class V1<h1> 
<h2> Variable name is {{ myname }} with promt varible  {{ username }}  fact variable is : {{ factresult }} inventory varibale {{ ansible_user }} output of shell script is: <h2>
fact varibale : {{ ansible_os_family }}
{{ result.stdout_lines }}

