<h1> Welcome to DevOps </h1>

This is the message from script var : <B>  {{ script_output.stdout }} </B>

<br>Site Yaml Variable var_text: <B>  {{ var_text }} </B>
<br>Prompt Variable var_prompt_text: <B>  {{ var_prompt_text }} </B>
<br>Fact Variable ansible_nodename : <B> {{ ansible_nodename }} </B>
<br>Role Var http_port: <B>  {{ http_port }} </B>
<br>Inventory Var invt_msg :  <B> {{ invt_msg }} </B>
